body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to left, #b92b27, #0000FF)
}

.navbar {
  background-color: #e3f2fd;
}

.navbar a {
  color: #09429e !important;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid green;
}

.navbar a:active {
  background-color: #2ecc71;
}

.nav-item {
  position: relative;
}
