input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000080;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: #000000;
    border-radius: 24px;
    transition: 0.25s
}

input[type="submit"] {
    border: 0;
    background: #FFFFFF;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000080;
    padding: 14px 40px;
    outline: none;
    color: #000000;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

input[type="text"]:focus {
    width: 300px;
    border-color: #068009;
}

input[type="text"]:hover {
    width: 300px;
    border-color: #068009;
}

input[type="submit"]:focus {
  background: #2ecc71;
}

input[type="submit"]:hover {
  background: #2ecc71;
}

.centre {
  text-align: center;
}
