body {
  background: linear-gradient(to left, #3494E6, #EC6EAD)
}

.card {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: -12000%;
    left: 50%;
    background: #FFFFFF;
    ;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.card input[type="text"],
.card input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: #000000;
    border-radius: 24px;
    transition: 0.25s
}

.card h1 {
    text-transform: uppercase;
    font-weight: 500
}

.card input[type="text"]:focus,
.card input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.card input[type="submit"],
.card input[type="button"] {
    border: 0;
    background: #FFFFFF;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: #000000;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.card input[type="submit"]:focus,
.card input[type="button"]:focus {
  background: #2ecc71;
}
