body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #4E65FF, #1EAE98)
}

.navbar {
  background-color: #e3f2fd;
}

.navbar a {
  color: #09429e !important;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid green;
}

.navbar a:active {
  background-color: #2ecc71;
}

.nav-item {
  position: relative;
}

.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table {
    border-radius: 5px;
    width: 50%;
    margin: auto;
    float: none;
}

::placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}
