<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="../static/bootstrap-4.1.3-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-4.1.3-dist/js/jquery-3.2.1.slim.min.js">
    </script>
    <script src="../static/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="../static/cookie_consent_min.js"></script>
    <link rel="stylesheet" href="../static/cookie_consent_min.css">
    <link rel="stylesheet" href="../static/base.css">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Server error</title>
    {% endif %}

    {% block index_stylesheet %} {% endblock %}
    {% block manager_base_stylesheet %} {% endblock %}
    {% block manager_index_stylesheet %} {% endblock %}
    {% block manager_change_password_stylesheet %} {% endblock %}
    {% block manager_add_staff_stylesheet %} {% endblock %}
    {% block manager_add_product_stylesheet %} {% endblock %}
    {% block manager_view_transactions_stylesheet %} {% endblock %}
    {% block signup_stylesheet %} {% endblock %}
    {% block user_base_stylesheet %} {% endblock %}
    {% block user_index_stylesheet %} {% endblock %}
    {% block user_view_basket_stylesheet %} {% endblock %}
    {% block user_view_purchases_stylesheet %} {% endblock %}
    {% block user_change_password_stylesheet %} {% endblock %}

  </head>
    {% block content %} {% endblock %}
</html>
