{% extends "base.html" %}

{% block index_stylesheet %}
  <link rel="stylesheet" href="../static/index.css">
{% endblock %}

{% block content %}
  <body class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form class="box" id="login" method="post">
              {{ form.hidden_tag() }}
              <h1 class="text-color">Welcome</h1>
              <p class="text-color">Please enter your username and password.</p>
              {{ form.username(autocomplete="username", id="username-field",
                               placeholder="Username" )}}
              {{ form.password(autocomplete="current-password",
                               placeholder="Password" )}}
              <a class="text-color" href="#">Forgot password?</a>
              <br>
              <a class="text-color" href="/signup">Sign up?</a>
              <br>
              {{ form.remember_me(id="remember-me") }}
              <label class="text-color" for="remember-me">Remember me?</label>
              <br>
              <input type="submit" value="Login">
              <div class="flash-messages">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                  </div>
                  {% endif %}
                {% endwith %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#FFFFFF",
            "text": "#09429e"
          },
          "button": {
            "background": "#2ecc71",
            "text": "#09429e"
          }
        },
        "position": "top",
        "static": true
      });
    $(document).ready(function(){
      $("#username-field").focus();
    });
    </script>
  </body>
{% endblock %}
