{% extends "user_base.html" %}

{% block user_index_stylesheet %}
  <link rel="stylesheet" href="../static/user_index.css">
{% endblock %}

{% block quantity_header %}
  <th scope="col" class="quantity-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity</th>
{% endblock %}

{% block user_content %}
  {% set success_class = namespace(value=1) %}
  {% set error_class = namespace(value=2) %}
  {% for product in products %}
  <tr>
    <th scope="row">{{ product.product_name }}</th>
    <td>{{ product.product_description }}</td>
    <td class="w-25">
      {% if product.product_thumbnail_type == 1 %}
        <img src="../static/product_images/{{ product.product_id }}.png"
             class="img-fluid img-thumbnail w-75"
             alt="Coffee product">
      {% elif product.product_thumbnail_type == 2 %}
        <img src="../static/product_images/{{ product.product_id }}.jpg"
             class="img-fluid img-thumbnail w-75"
             alt="Coffee product">
      {% elif product.product_thumbnail_type == 3 %}
        <img src="../static/product_images/{{ product.product_id }}.jpeg"
             class="img-fluid img-thumbnail w-75"
             alt="Coffee product">
      {% else %}
        <img src="" class="img-fluid img-thumbnail w-75"
             alt="Coffee product">
      {% endif %}
    </td>
    <td>£{{ product.product_price }}</td>
    <td>
      <div class="content">
        <form>
          {{ form.csrf_token(id=False) }}
          {{ form.quantity(autocomplete="off", class="quantity-field",
                           placeholder="Quantity", id=False )}}
          {{ form.product_id(autocomplete="off", class="product-id",
                             value=product.product_id, id=False )}}
          <input type="submit" value="Add to basket" class="submit-button">
          <div class="alert alert-success centre {{ success_class.value }}"
               role="alert">
               <p></p>
          </div>
          <div class="alert alert-danger centre {{ error_class.value }}"
               role="alert">
               <p></p>
          </div>
          {% set success_class.value = success_class.value + 2 %}
          {% set error_class.value = error_class.value + 2 %}
        </form>
      </div>
    </td>
  </tr>
  {% endfor %}
  <script>
    $(document).ready(function(){
      $(".alert").hide();
      $(".product-id").hide();
      // Inject our CSRF token into our AJAX request.
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)
              && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken",
                                 "{{ form.csrf_token._value() }}")
          }
        }
      })
      $(document).on("click", ".submit-button", function (e){
        $(this).blur();
        var val = $(this).closest("div.content").find(".quantity-field").val();
        var classSymbol = "."
        var errorClass = $(this).closest("div.content").find(".alert-danger")
                                .attr('class').split(' ').pop()
        var successClass = $(this).closest("div.content").find(".alert-success")
                                  .attr('class').split(' ').pop()
        errorClass = classSymbol + errorClass
        successClass = classSymbol + successClass
        $(errorClass).hide();
        $(successClass).hide();
        if(val == ""){
          $(this).closest("div.content").find(".quantity-field").focus();
          return
        }
        e.preventDefault();
        if(isNaN(val) || val < 1){
          $(this).closest("div.content").find(".quantity-field").focus();
          $(this).closest("div.content").find(".alert-danger")
                  .text("Invalid quantity supplied.")
          $(this).closest("div.content").find(".alert-danger").show();
        }
        else if(val > 25){
          $(this).closest("div.content").find(".quantity-field").focus();
          $(this).closest("div.content").find(".alert-danger")
                 .text("Order limit exceeded.")
          $(this).closest("div.content").find(".alert-danger").show();
        }
        else{
          var url = "{{ url_for('user_order') }}";
          $.ajax({
            type: "POST",
            url: url,
            data: $(this).closest("form").serialize(),
            success: function(data){
              $(successClass).text("Order has been placed in basket");
              $(successClass).show();
            },
            error: function(error){
              var err = JSON.parse(error.responseText.toString());
              var errorStr = err.status;
              $(errorClass).text(errorStr);
              $(errorClass).show();
            }
          });
        }
      });
    });
   </script>
{% endblock %}
