{% extends "base.html" %}

{% block user_base_stylesheet %}
  <link rel="stylesheet" href="../static/user_base.css">
{% endblock %}

{% block content %}
<body>
  <nav class="navbar navbar-expand-lg navbar-light font-weight-bold">
      <a href="/user/home" class="navbar-brand">
        <img src="../static/cafe_noir_logo.png" width="120" alt=""
             class="d-inline-block align-middle mr-2">
        <span class="text-uppercase font-weight-bold">{{ title }}</span>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/user/view_basket">My basket</a>
            <a class="dropdown-item" href="/user/view_purchases">My purchases</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Help
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item"
               href="/user/change_user_password">
               Change my password</a>
          </div>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link" href="/logout">Logout
          <span class="sr-only">(current)</span>
        </a>
      </span>
    </div>
  </nav>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% block view_basket_form %} {% endblock %}
        <table id="view_items" class="table table-image table-hover table-primary w-100">
          <thead>
            <tr>
              <th scope="col">Product name</th>
              <th scope="col">Product description</th>
              <th scope="col">Product image</th>
              <th scope="col">Product price</th>
              {% block quantity_header %} {% endblock %}
              {% block date_header %} {% endblock %}
            </tr>
          </thead>
            {% block user_content %} {% endblock %}
        </table>
        {% block user_password_content %} {% endblock %}
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $(".quantity-field").val("");
        function toggleNavbarMethod(){
          if ($(window).width() > 768){
            $('.navbar .dropdown').on('mouseover', function(){
              $('.dropdown-toggle', this).trigger('click');
            }).on('mouseout', function(){
              $('.dropdown-toggle', this).trigger('click').blur();
            });
          }
          else{
            $('.navbar .dropdown').off('mouseover').off('mouseout');
          }
        }
        toggleNavbarMethod();
        $(window).resize(toggleNavbarMethod);
      });
    </script>
</body>
{% endblock %}
