{% extends "user_base.html" %}

{% block user_change_password_stylesheet %}
  <link rel="stylesheet" href="../static/user_change_password.css">
{% endblock %}

{% block user_password_content %}
  <div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form class="box" id="sign_up" method="post"
                  onsubmit="return validateSignUpForm()">
              {{ form.hidden_tag() }}
              <h1 class="text-color">Change my password</h1>
              <p class="text-color">Please enter your new password below.</p>
              {{ form.password(autocomplete="new-password", id="password-field",
                               placeholder="New password" )}}
              {{ form.confirmed_password(autocomplete="new-password",
                                         id="confirm-field",
                                         placeholder="Confirm password" )}}
              <div class="client-password-errors">
                <div class="alert alert-danger" role="alert">
                  <p class="password-errors"></p>
                </div>
              </div>
              {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
              <input type="submit" value="Change password">
              <a class="text-color" id="ret-label" href="/user/home">Go back</a>
              <br><br>
              <div class="flash-messages">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% if status %}
                      <div class="alert alert-success" role="alert">
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endwith %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <script>
    $(document).ready(function(){
      $(".table").hide();
      $("#password-field").val("");
      $("#confirm-field").val("");
      $("#password-field").focus();
      $(".client-password-errors").hide();
    });
    function validateSignUpForm(){
      var password = $("#password-field").val();
      var confirm = $("#confirm-field").val();
      if(password.length > 255 || confirm.length > 255){
        $(".password-errors").text("Password must not be more than 255"+
                                   " characters long.");
        $(".client-password-errors").show();
        return false;
      }
      else{
        $(".client-password-errors").hide();
        return true;
      }
    }
  </script>
</div>
{% endblock %}
